<div class="search-filter-container">
  <label for="search">Buscar: </label>
  <input id="search" type="text" [(ngModel)]="searchText" placeholder="Buscar...">
</div>
<div class="search-filter-container">
  <label>
    <input type="checkbox" [(ngModel)]="criterios.nombre" (change)="onFiltroCambiado()"> Nombre
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criterios.club" (change)="onFiltroCambiado()"> Club
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criterios.ubicacion" (change)="onFiltroCambiado()"> Ubicación
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criterios.fechaConstruccion" (change)="onFiltroCambiado()"> Fecha de Construcción
  </label>
</div>

<div class="container">
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Capacidad</th>
        <th>Club</th>
        <th>Ubicación</th>
        <th>Fecha de Construcción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let embarcacion of filteredEmbarcaciones()"
          (click)="selectEmbarcacion(embarcacion)"
          [class.selected-row]="embarcacion === selectedEmbarcacion">
        <td>{{ embarcacion.id }}</td>
        <td>{{ embarcacion.nombre }}</td>
        <td>{{ embarcacion.tipo }}</td>
        <td>{{ embarcacion.capacidad }}</td>
        <td>{{ embarcacion.club }}</td>
        <td>{{ embarcacion.ubicacion }}</td>
        <td>{{ embarcacion.fechaConstruccion }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedEmbarcacion" class="details-container">
    <h3>{{ selectedEmbarcacion.nombre }}</h3>
    <img [src]="selectedEmbarcacion.imagen" alt="{{ selectedEmbarcacion.nombre }}" width="300">
    <p><strong>Club:</strong> {{ selectedEmbarcacion.club }}</p>
    <p><strong>Ubicación:</strong> {{ selectedEmbarcacion.ubicacion }}</p>
    <p><strong>Fecha de Construcción:</strong> {{ selectedEmbarcacion.fechaConstruccion }}</p>
  </div>
</div>
