<div class="search-filter-container">
  <label for="search">Buscar: </label>
  <input id="search" type="text" [(ngModel)]="searchText" placeholder="Buscar...">
</div>
<div class="search-filter-container">
  <label>
    <input type="checkbox" [(ngModel)]="criterios.nombre" (change)="onFiltroCambiado()"> Nombre
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criterios.club" (change)="onFiltroCambiado()"> Club
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criterios.ubicacion" (change)="onFiltroCambiado()"> Ubicación
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criterios.fechaFormacion" (change)="onFiltroCambiado()"> Fecha de Formación
  </label>
</div>

<div class="container">
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Club</th>
        <th>Ubicación</th>
        <th>Fecha de Formación</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipo of filteredEquipos()"
          (click)="selectEquipo(equipo)"
          [class.selected-row]="equipo === selectedEquipo">
        <td>{{ equipo.id }}</td>
        <td>{{ equipo.nombre }}</td>
        <td>{{ equipo.club }}</td>
        <td>{{ equipo.ubicacion }}</td>
        <td>{{ equipo.fechaFormacion }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedEquipo" class="details-container">
    <h3>{{ selectedEquipo.nombre }}</h3>
    <img [src]="selectedEquipo.imagen" alt="{{ selectedEquipo.nombre }}" width="300">
    <p><strong>Club:</strong> {{ selectedEquipo.club }}</p>
    <p><strong>Ubicación:</strong> {{ selectedEquipo.ubicacion }}</p>
    <p><strong>Fecha de Formación:</strong> {{ selectedEquipo.fechaFormacion }}</p>
  </div>
</div>
